@use 'color';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Verdana, sans-serif;
}

a {
  text-decoration: underline color.$secondary 2px;
  color: color.$secondary;
  font-weight: bold;
}
