@use 'color';

.hero {
  z-index: 1;
  height: 60vh;
  padding-bottom: 20vh;

  background: linear-gradient(color.$primary 0 66%, transparent);
  color: white;
  font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Verdana,
    sans-serif;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  & + * {
    margin-top: -2.5rem;

    @media (min-width: 426px) {
      margin-top: -3.5rem;
    }
  }
}

.logo {
  margin-bottom: 1rem;
  cursor: pointer;

  color: white;

  display: flex;
  align-items: center;

  &Icon {
    margin-right: 0.3rem;
    overflow: visible;
    font-size: 6rem;
    border-radius: 500px;
    background-color: color.$primary;
  }

  &Name {
    font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Verdana,
      sans-serif;
    line-height: 1rem;
    font-size: 3rem;
  }

  &Sub {
    cursor: pointer;

    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Pacifico', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Verdana,
      sans-serif;
  }
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  color: color.$primary;
}

.cards {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  width: 15rem;
  height: 15rem;
  overflow: hidden;

  border: 5px solid color.$primary;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  color: color.$primary;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &Title {
    margin-top: 1.4rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
  }
}
